$lightColor: #F7F6F3;
$darkColor: #373838;

.dark-color{
  color: $darkColor;
}
.light-color{
  color: $lightColor;
}

.dark-background{
  background-color: $darkColor;
}

.light-background{
  background-color: $lightColor;
}