
.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: 0px;
  padding: 40px 40px 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 30px;
  font-weight: bold;
}
